<p id="notice"><%= notice %></p>

<h1>Nomenclatures</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nomenclatures.each do |nomenclature| %>
      <tr>
        <td><%= link_to 'Show', [:admins, nomenclature] %></td>
        <td><%= link_to 'Edit', edit_admins_nomenclature_path(nomenclature) %></td>
        <td><%= link_to 'Destroy', [:admins, nomenclature], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nomenclature', new_admins_nomenclature_path %>
