<%= form_with(model: generic_name) do |form| %>
  <% if generic_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(generic_name.errors.count, "error") %> prohibited this generic_name from being saved:</h2>

      <ul>
        <% generic_name.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
