<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @atc_code.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @atc_code.title %>
</p>

<%= link_to 'Edit', edit_atc_code_path(@atc_code) %> |
<%= link_to 'Back', atc_codes_path %>
