<%= form_for [:admins, @atc_code] do |form| %>
  <% if atc_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atc_code.errors.count, "error") %> prohibited this atc_code from being saved:</h2>

      <ul>
        <% atc_code.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
