<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @account.number %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @account.amount %>
</p>

<p>
  <strong>Expiry:</strong>
  <%= @account.expiry %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', account_path %>
